.name {
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
}

.profile_pic {
  width: 490px;
  float: right;
  transform: translate(-20px, -10px);
  border-radius: 10px;
  outline: 10px solid #000;
  webkit-box-shadow: 1px 4px 23px 13px rgba(0,0,0,0.36);
  box-shadow: 1px 4px 23px 13px rgba(0,0,0,0.36);
}

.introduction {
  font-size: 35px;
}

.GitHub {
  text-indent: 100px;
}

.github_icon {
  width: 120px;
  border-radius: 500px;
  transform: translate(80px, 0px);
}