html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.topnav {
  background-color: #0003bb;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}

.topnav a:hover {
  background-color: rgb(3, 124, 204);
  color: black;
}

/* Antonios F. Takos */
.name {
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
}

.profile_pic {
  width: 500px;
  float: right;
  margin: 25px;
  transform: translateY(-55px);
  border-radius: 10px;
  outline: 12.5px solid #000;
  box-shadow: 1px 4px 23px 13px rgba(0,0,0,0.36);
}

.introduction {
  font-size: 40px;
  transform: translate(20px, 0px);
}


