* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
{
  margin: 0;
  overflow-x: hidden;
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
  padding: 0;
  border: 0;
  outline: 0;
  zoom: 80%;
  vertical-align: baseline; 
  background-color: rgba(0, 0, 0, 0.58);
}

           /*------------------ Navigation Bar ------------------*/
.navbar {
display: flex;
justify-content: center;
align-items: center;
position: relative;
background: linear-gradient(314deg, #0023e6 0%, #8600ff 25%, #0023e6 50%, #8600ff 75%, #0023e6 100%);
top: 0;
z-index: 1; 
}
.navbar ul { /* Sizing */
display: flex;
list-style: none;
margin: 20px 0px;
}
.navbar ul li {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 2.1rem;
font-weight: bold;
white-space: nowrap;
}
.navbar ul li a {
text-decoration: none;
color: white;
padding: 9px 250px;
transition: all 0.5s ease;
}
.navbar ul li a:hover {
background-color: white;
color: black;
box-shadow: 0 0 10px white;
border-radius: 3px;
}

                /*------------------ Home ------------------*/
#home {
display: flex;
flex-direction: column;
height: 1050px;
}
#home::before {
content: "";
position: absolute;
top: 0;
right: 0;
background: url('../images/astoria_park.jpeg') no-repeat center center/cover;
height: 2190px;
width: 100%;
z-index: -1;
justify-content: center;
align-items: center;
}

.name {
font-family: Tahoma;
font-size: 115px;
text-align: center;
color: white;
text-shadow: -3px 11px 10px #000000;
transform: translate(15px, 310px);

/* typewriter effect */
overflow: hidden;
border-right: 0.15em solid white;
white-space: nowrap;
margin: 0 auto;
letter-spacing: 0.15em;
animation: typing 2.5s steps(40, end), blink-caret 0.65s step-end forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} /

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

                                      /*------------------ About Me ------------------*/
.about {
transform: translateY(180px);
}
.profile_pic {
  width: 600px;
  float: left;
  margin: 20px;
  border-radius: 10px;
  outline: 12.5px solid #000;
  box-shadow: 1px 4px 23px 13px rgba(0,0,0,0.36);
  transform: translateY(-60px);
}

.introduction {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.introduction h1 {
  display: grid;
  place-items: center; /* centering header */
  font-size: 100px;
  color: white;
  font-weight: bold;
  text-shadow: -3px 11px 10px #000000;
  padding-bottom: 50px;
}
.introduction p {
  display: grid;
  place-items: center;
  font-size: 45px;
  color: white;
  font-weight: bold;
  text-shadow: -3px 11px 10px #000000;
  margin-left: 36%;
}

                            /*------------------ Footer ------------------*/
footer{
background: linear-gradient(314deg, #0023e6 0%, #8600ff 25%, #0023e6 50%, #8600ff 75%, #0023e6 100%);
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 4.6rem;
overflow: hidden;
position: relative;
bottom: 0;
width: 100%;
}
.social{
	display: flex;
}
.social a{
	display: grid;
  place-items: center;
	border-radius: 50%;
	margin: 16px 100px;
	color: white;
	text-decoration: none;
	font-size: 51px;
}